#homese #im #r1{
    width: 2rem;
    height: 10rem;
    /* display: none; */
    }
    #homese #im #r2{
        /* display: none; */
    width: 2rem;
    height: 10rem;
    }
    #homese #im #l1 img{
        width: 4rem;
        height: 4rem;
        margin: auto;
        }

        #tm .item{
            width: 4rem;
            height: 4rem;
            }
            
            #tm .btn{
                width: 0.5rem;
                height: 0.5rem;
            }
        
        